-i https://pypi.org/simple
flake8==6.0.0
flake8-html==0.4.3
jinja2==3.1.2 ; python_version >= '3.7'
markupsafe==2.1.2 ; python_version >= '3.7'
mccabe==0.7.0 ; python_version >= '3.6'
pycodestyle==2.10.0 ; python_version >= '3.6'
pyflakes==3.0.1 ; python_version >= '3.6'
pygments==2.15.1 ; python_version >= '3.7'
